@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baseColor: hsla(282, 19%, 90%, 1.00);
  --baseDarkColor: hsla(282, 25%, 70%, 1.00);
  --DarkSoftText: hsla(282, 29%,50%, 1.00);
  --DarkText: hsla(282, 19%,10%, 1.00);
}

.wrapper {
  max-inline-size: 1366px;
  width: -webkit-fill-available;
  margin: 0 auto;
  padding-inline: 2em;
}
.fullwidth {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}
body {
   background-image: url('/background/grayBg.svg');
   
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.serif { font-family: 'Playfair Display', serif; }
.write { font-family: 'Edu NSW ACT Foundation', cursive; }