@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baseColor: rgba(243, 214, 209, 0.95);
  --baseDarkColor: rgba(240, 151, 135, 0.85);
  --DarkSoftText: rgb(151, 95, 85);
  --DarkText: rgb(94, 72, 69);
}

.wrapper {
  max-inline-size: 1366px;
  width: -webkit-fill-available;
  margin: 0 auto;
  padding-inline: 2em;
}
.fullwidth {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}
body {
   background-image: url('/background/mainbackground.webp');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.serif { font-family: 'Playfair Display', serif; }
.write { font-family: 'Edu NSW ACT Foundation', cursive; }